<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992653144409-rmd0vo2ro69uj8vgv5eafsoq7huetj9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992653144409-rmd0vo2ro69uj8vgv5eafsoq7huetj9p</string>
	<key>API_KEY</key>
	<string>AIzaSyAd4VTiQMzkkehLTzlr7e4i8eRKTSc8PyE</string>
	<key>GCM_SENDER_ID</key>
	<string>992653144409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mosaber7.Spaound</string>
	<key>PROJECT_ID</key>
	<string>spaound-89cca</string>
	<key>STORAGE_BUCKET</key>
	<string>spaound-89cca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992653144409:ios:b1d4b6eb1e8b9eff7ddc48</string>
</dict>
</plist>